
* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --grey_background: rgba(217, 208, 203, 0.92);
    --orange-primary: rgba(236, 201, 162, 0.4);
    --color-page: rgba(236, 201, 162, 0.4);
    --width_box_aside: 15em;
    --orange_icon: #cf6d17;
    --height_header: 5em;
    --width_nav_left: 16em;
    --width_box_aside: 15em;


}

html {
    height: -webkit-fill-available;
    -webkit-text-size-adjust: 100%;
    font-size: 70%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.webapp {
    position: relative;
    background-color: var(--color-page);
    margin: 0;
}

body {
    display: block;
    min-height: 100vh;
    background: #e7e2de;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
}


.navbar_Wrapper_fulltab {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 2px solid #f0852d;
    background-color: #fff;

    height: var(--height_header);
    z-index: 12;
}

.navbar_logo_web {
    height: var(--height);
    width: var(--height);
    display: flex;
    align-items: center;

}

.navbar_logo_web a {
    margin-left: 5px;
    display: block;
    position: relative;
}

.navbar_logo_web img {
    height: 70px;
    width: auto;

}


.navbar_logo_Heading {
    color: #000;
    margin: 10px;
    font-weight: 700;
    margin-left: 16px;
    font-size: 2rem;
    display: flex;

}

.box_aside {
    position: fixed;
    right: 0;
    width: var(--width_box_aside);
    height: 33vh;
    display: flex;
    justify-content: flex-end;
    /* border: 3px solid red; */
    z-index: 12;
}

.Click_ontop {
    display: block;
    position: fixed;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 3px solid #f0852d;
    font-size: 2.0rem;
    bottom: 1em;
    right: 3em;
    z-index: 11;
    background-size: cover;
    background-color: var(--orange-primary);
}

.nav_left_vert,.tab_opt {
    display: none;
}

.pass_re_done{
    width: 100%;
    height: 80vh;
    display: block;
    border-radius: 20px;
}
.pass_re_done p{
    top:10rem;
    left: 10rem;
    font-size: 20px;
    color: rgb(84, 24, 24);
    text-align: left;
    position: relative;
    width: 80vw;
}
.pass_re_done h1{
    position: relative;
    top: 10rem;
    left: 10rem;
    width: 60vw;
}
.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    position: relative;
    left: 0;
    top: 0.5rem;
    width: 100%;
    background-color: #011548;
    padding: 1.4em 0;
    z-index: 10;
    font-size: 4rem;
    font-weight: 500;
}



.collum_foot {
    width: 25%;
    padding: 0 15px;
}

.collum_foot h4 {
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.collum_foot h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e6a571;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.collum_foot ul li:not(:last-child) {
    margin-bottom: 10px;
}

.collum_foot ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.collum_foot ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.collum_foot .Online a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.collum_foot .Online a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* --------------------------------------thick media-----------------------------------*/
/* header max-width: 600px */
@media only screen and (max-width: 600px) {
    .navbar_logo_Heading {
        font-size: 16px;
    }
    .pass_re_done p{
        font-size: 16px;
        left: 5rem;
    }
    .pass_re_done h1{
        font-size: 18px;
        left: 5rem;
    }
    .navbar_Wrapper_fulltab {
        padding: 0px 0px;
    }

    .navbar_logo_web {
        margin: 0px 7px;
        height: auto;
        width: auto;
    }

    .navbar_logo_web a {
        margin-left: 0px;

    }

    .navbar_logo_web img {
        margin-left: 1rem;
        display: flex;
        height: 6rem;
        width: auto;
        align-items: center;
        justify-content: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* bat dau phan header min-width : 600px */
    .navbar_Wrapper_fulltab {
        padding: 0px 0px;
    }

    .navbar_logo_web {
        margin: 0px 7px;
        height: auto;
        width: auto;
    }

    .navbar_logo_web a {
        margin-left: 0px;

    }

    .navbar_logo_web img {
        margin-left: 1rem;
        display: flex;
        height: 6rem;
        width: auto;
        align-items: center;
        justify-content: center;
    }
}
