* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --grey_background: rgba(217, 208, 203, 0.92);
    --orange-primary: rgba(236, 201, 162, 0.4);
    --color-page: rgba(236, 201, 162, 0.4);
    --width_box_aside: 15em;
    --orange_icon: #cf6d17;
    --height_header: 5em;
    --width_nav_left: 16em;
    --width_box_aside: 15em;


}

html {
    height: -webkit-fill-available;
    -webkit-text-size-adjust: 100%;
    font-size: 70%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.webapp {
    position: relative;
    background-color: var(--color-page);
    margin: 0;
}

body {

    display: block;
    min-height: 100vh;
    background: #e7e2de;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
}


.navbar_Wrapper_fulltab {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 2px solid #f0852d;
    background-color: #fff;

    height: var(--height_header);
    z-index: 12;
}

.navbar_logo_web {
    height: var(--height);
    width: var(--height);
    display: flex;
    align-items: center;

}

.navbar_logo_web a {
    margin-left: 5px;
    display: block;
    position: relative;
}

.navbar_logo_web img {
    height: 70px;
    width: auto;

}


.navbar_logo_Heading {
    color: #000;
    margin: 10px;
    font-weight: 700;
    margin-left: 16px;
    font-size: 2rem;
    display: flex;

}





.navbar_body {
    flex: 1 1;
}

.flex_Search_center {
    align-items: center;
    display: flex;
    justify-content: center;
}


.Search_Wrapper {
    border: 2px solid #f7c37a;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;
}

.Search_SearchIcon {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    height: 32px;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
    width: 30px;
}

.Search_SearchIcon svg {
    background-size: contain;
    background-position: center;
    background-color: transparent;
    margin-top: 6px;
    width: 20px;
    height: 20px;
}

.Search_SearchIcon svg:hover {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px;
    /*  thu cai kinh lup lai nho 1 siu 1px */

}

.Search_input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
    flex: 1 1;
    border: none;
    caret-color: #444;
    height: 100%;
    outline: none;
    padding: 0 4px;
}

.navbar_action {
    flex: 1 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;
    box-shadow: none;
    color: inherit;
    display: block;
    outline: none;
    padding: 0;

}

.UpFile{
    width: 30rem;
    height: 7rem;
}
.btn_avatar {

    display: block;
    cursor: pointer;
    position: sticky;
    border-radius: 50%;
    margin: -48px 0px 0px 250px;
    font-size: 2.2rem;
    padding: 14px 14px;
    border: 3px solid #f7c37a;
    background-color: #f2efea;
}

.btn_notification {
    background-color: #f2efea;
    display: block;
    cursor: pointer;
    position: sticky;
    border-radius: 5px;
    margin: -48px 0px 0px 38px;
    font-size: 1.5rem;
    padding: 8px 8px;
    border: 2px solid #f7c37a;
}
.hello_tag{
    font-weight: 600;
    color: blue;
    font-size: 20px;
    margin: -43px 0px 0px 85px;
    width: 160px;
    text-align: center;
}
button {
    border: none;
    box-shadow: none;
    color: inherit;
    display: block;
    outline: none;
    padding: 0;
}
/* ======bat dau  ==phan aside===== */
.box_aside {
    position: fixed;
    right: 0;
    width: var(--width_box_aside);
    height: 33vh;
    display: flex;
    justify-content: flex-end;
    /* border: 3px solid red; */
    z-index: 12;
}

.btn_upfile {
    display: block;
    font-weight: 600;
    cursor: pointer;
    position: sticky;
    background: linear-gradient(to right bottom, #c4520a, #da9a72);
    border-radius: 14px;
    color: #fff;
    margin: 10px 0px 0px -48px;
    font-size: 1.4rem;
    padding: 18px 14px;
    border: 2px solid #eba43f;
    margin-top: 1rem;
}

.Click_ontop {
    display: block;
    position: fixed;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 3px solid #f0852d;
    font-size: 2.0rem;
    bottom: 1em;
    right: 3em;
    z-index: 11;
    background-size: cover;
    background-color: var(--orange-primary);
}

/*== left menu ==== */

/*  gom co luoon btn 3 gach ngang tren header code o phan nay  */

.tab_opt {
    position: relative;
    width: 21px;
    height: 21px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    background-size: 11px;
    display: block;
    padding: 20px;

}

.tab_opt svg {
    position: absolute;
    bottom: 7px;
    background-color: transparent;
    background-size: auto;
    width: 30px;
    height: 25px;
    margin-left: -15px;

}

.tab_opt:hover {
    background-clip: padding-box;
    background-color: #e8decdf0;
    border-radius: 5px;
}

/* ====== nav left vert      =================== */
.nav_left_vert {
    background-color: #ac8a26;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 5;
    margin: 0;
}

.nav_left_vert ul {

    list-style: none;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}

.nav_left_vert li {

    height: 50px;
    width: 100%;
}

.nav_left_vert a {

    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: transform 0.1s ease;
}

.nav_left_vert a.active {
    background-color: #e6a571;
    color: white;
    border-radius: 2px;

}




.nav_left_vert a:hover:not(.active) {
    border-radius: 15px;
    background-color: #f0f0f0;
}

.nav_left_vert a:hover {
    transform: scale(1.04);

}

/* =      ------------------------======    ---------------------- css sub nav  */
.type_meal {
    position: relative;
}

.type_meal .sub_nav {
    position: absolute;
    width: 200px;
    top: 0px;
    height: auto;
    background-color: rgba(227, 168, 105, 0.8);
    right: -201px;
    border-radius: 10px;

}


.sub_nav {
    display: none;
}

.type_meal:hover .sub_nav,
.sub_nav:hover {
    display: block;
    /* Hiển thị khi hover vào .type_meal hoặc .sub_nav */
    color: white;
}



.sidebar_vert {
    top: 5em;
    border-radius: 5px;
    border: 2px solid rgba(212, 108, 22, 0.5);
    display: flex;
    height: max-content;
    width: 15em;
    z-index: 68;
    background-color: var(--orange-primary);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    font-weight: 600;
    font-size: 1.4rem;
}

.sidebar_vert li:hover {
    font-size: 1.7rem;
}
/* bat dau code cho modal Post */
.modal_Post {
    position: fixed;
    inset: 0;
    display: none;
    /* display: none; */
    background: rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.modal_Post .body_modal_Post {
    font-family: inherit;
    font-weight: 500;
    font-size: 2rem;
    position: relative;
    margin: auto;
    width: 600px;
    height: 500px;
    background-color: #f5eeea;
    border-radius: 15px;
}

.modal_Post .body_modal_Post p {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;

}

.modal_Post .body_modal_Post>p {
    padding: 20px;
    margin-top: 25px 0;
    border-bottom: 2px solid black;
}


/* ten va avatar cua khangdeptry */
.Box_Contain_Avatar_And_Name {
    position: relative;
    height: 70px;
    width: auto;
    border-bottom: 4px;

}

.Box_Contain_Avatar_And_Name img {
    display: block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.Box_Contain_Avatar_And_Name p {
    position: absolute;
    top: 20px;
    left: 71px;
}

.box_input_content {

    font-size: 22px;
    width: 100%;
    padding-bottom: 30%;
    height: 10%;

}

.Add_To_Content>p {
    padding: 10px;
}

.Add_To_Content {
    text-align: center;

}

.Add_To_Content a {
    padding: 2px 10px;
}

.rel_btn_post {
    position: relative;
}

.btn_post_content {
    position: absolute;
    top: 7px;
    left: 35%;
    align-content: center;
    margin: auto auto 25px;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    /* height: 20px; */
    background-color: rgb(18, 110, 176);
    font-weight: 500;
    color: rgb(236, 247, 255);
    cursor: pointer;
    transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}




/*phan cua modal btn close  */

.modal_Post .close_btn_Post {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #dbdad3;
    cursor: pointer;
}

.modal_Post .close_btn_Post:hover {
    background: #a4a39e;
}

.modal_Post .close_btn_Post i {
    font-size: 20px;
    color: #000;

}
/*  bat dau code css cho phan noi dung */
.article_post {
    margin: calc(var(--height_header) + 1.9em) calc(var(--width_box_aside)) 0 calc(var(--width_nav_left));
    align-items: center;
    justify-content: space-around;
    display: flex;
    position: relative;
    width: 70vw;
    height: 26rem;
    /* border: 2px solid red; */
}

.article_post a {
    height: 25rem;
    width: 49%;
    position: relative;
    /* border: 2px solid black; */
}

.article_post img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 14px;
}

.article_post a h3,
.article_post a p {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    text-decoration: none;
    font-size: 3rem;
    z-index: 2;
    /*  phai co width nhu nay de xuat ellips hoat dong */
    width: calc(100% - 2rem);
}

/* bat dau code cho phan container  */
.container {
    margin-top: 1rem;
    margin-left: calc(var(--width_nav_left));
    margin-right: var(--width_box_aside);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 0.5fr 0.5fr 0.5fr; */
    gap: 10px 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container a {
    display: block;
    position: relative;
    /* border: 2px solid black; */
    width: 31rem;
    height: 17rem;
    /*  chu y la neu de don vi la % thi height cac cells se tang dan theo moi hang */
}

.container a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    z-index: 1;
}


.container img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;

}

.container a h3,
.container a p {
    position: absolute;
    margin: 15px;
    font-family: inherit;
    color: white;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
    z-index: 2;
}

.container a h3 {
    font-size: 2.5em;
    bottom: 23%;

}

.container a p {
    font-size: 1.5em;
    bottom: 0;
}




/*  ket thuc code css cho phan noi dung  */

/*Phan chuyen page*/
.center {
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #000;
}

.pagination a.active {
    background-color: #f0852d;
    color: white;
    border: 1px solid #f0852d;
}

.pagination a:hover:not(.active) {
    background-color: #a2a2a2;
}

/* kết thúc nội dung các dòng khác*/

/* bat dau code cho footer  */
.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    position: relative;
    left: 0;
    top: 0.5rem;
    width: 100%;
    background-color: #011548;
    padding: 1.4em 0;
    z-index: 10;
    font-size: 4rem;
    font-weight: 500;
}



.collum_foot {
    width: 25%;
    padding: 0 15px;
}

.collum_foot h4 {
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.collum_foot h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e6a571;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.collum_foot ul li:not(:last-child) {
    margin-bottom: 10px;
}

.collum_foot ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.collum_foot ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.collum_foot .Online a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.collum_foot .Online a:hover {
    color: #24262b;
    background-color: #ffffff;
}








/*  =                   =               =           thick media  =          =           =       */





@media only screen and (max-width: 540px) {
    .navbar_logo_Heading {
        display: none;
    }

}

/* header max-width: 600px */
@media only screen and (max-width: 600px) {

    /* bat dau cho phan headder max-width : 600px */
    .navbar_logo_Heading {
        font-size: 16px;
    }

    .tab_opt {
        left: 1rem;
    }

    .flex_Search_center {
        justify-content: flex-end;
    }

    .Search_Wrapper {
        border-radius: 13px;
        width: 11rem;
    }

    .navbar_Wrapper_fulltab {
        padding: 0px 0px;
    }

    .navbar_logo_web {
        margin: 0px 7px;
        height: auto;
        width: auto;
    }

    .navbar_logo_web a {
        margin-left: 0px;

    }

    .navbar_logo_web img {
        margin-left: 1rem;
        display: flex;
        height: 6rem;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    /* ket thuc cho header maxwidth 600px */

    /*  bat dau code cho nav_left_vert max-width: 600px */
    :root {
        --width_nav_left: 0px;
        --width_box_aside: 0em;
    }

    /*  ket thuc code cho nav_left_vert max-width: 600px */


    /*  bat dau code css cho phan noi dung gom article_post &  container max-width: 600px */
    .container {
        gap: 15px 5px;
    }

    .container a {
        width: 90vw;
        height: 23rem;
    }

    .article_post {
        margin: calc(var(--height_header) + 1.9em) calc(var(--width_box_aside)) 0 calc(var(--width_nav_left));
        align-items: center;
        justify-content: space-around;
        display: flex;
        position: relative;
        width: 100vw;
        height: 26rem;
        flex-wrap: wrap;
    }

    .article_post {
        margin: calc(var(--height_header) + 1.9em) calc(var(--width_box_aside)) 0 calc(var(--width_nav_left));
        align-items: center;
        justify-content: space-around;
        display: flex;
        position: relative;
        width: 100vw;
        height: 26rem;
        /* border: 2px solid red; */
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .article_post a h3 {
        font-size: 15px;
    }

    /*  ket thuc code css cho phan noi dung gom article_post & container max-width: 600px */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* bat dau phan headder min-width : 600px */
    .tab_opt {
        left: 1rem;
    }

    .flex_Search_center {
        justify-content: flex-end;
    }

    .Search_Wrapper {
        border-radius: 13px;
        width: 15rem;
    }

    .navbar_Wrapper_fulltab {
        padding: 0px 0px;
    }

    .navbar_logo_web {
        margin: 0px 7px;
        height: auto;
        width: auto;
    }

    .navbar_logo_web a {
        margin-left: 0px;

    }

    .navbar_logo_web img {
        margin-left: 1rem;
        display: flex;
        height: 6rem;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    /* ket thuc cho header maxwidth 600px */

    /*  bat dau code cho nav_left_vert min-width: 600px */
    :root {
        --width_nav_left: 0px;
        --width_box_aside: 0em;
    }
    /*  ket thuc code cho nav_left_vert min-width: 600px */

    /*  bat dau code css cho phan noi dung gom article_post &  container min-width: 600px */
    .article_post {
        width: 100vw;

    }

    .article_post a h3 {
        font-size: 2rem;
    }

    .container a {
        width: 47vw;
        height: 23rem;
    }
    /*  ket thuc code css cho phan noi dung gom article_post & container min-width: 600px */


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* header min-width 768px */
    .Search_Wrapper {
        border-radius: 13px;
        width: 36vw;
    }

    .container a {
        width: 31vw;
        height: 23rem;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /*  bat dau code cho nav_left_vert min-width: 992px */
    :root {
        --width_nav_left: 0px;
        --width_box_aside: 0em;
    }

    /*  bat dau code css cho phan noi dung gom article_post & container min-width: 992px */
    .article_post {
        width: 100vw;
        height: 26rem;
    }

    .article_post a h3 {
        font-size: 3rem;
    }
    .container a {
        width: 31vw;
        height: 23rem;
    }
    /*  ket thuc code css cho phan noi dung gom article_post & container min-width: 992px */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


     /*  bat dau code css cho phan noi dung gom article_post & container min-width: 1200px */
     :root {
        --width_nav_left: 15em;
        --width_box_aside: 15em;
    }
    .article_post {
        width: calc(95vw - var(--width_nav_left) - var(--width_box_aside));
        height: 26rem;
        margin: calc(var(--height_header) + 1.9em) calc(var(--width_box_aside)) 0 calc(var(--width_nav_left) + 6em );
    }
    .container{
        margin-left: calc(var(--width_nav_left) + 6em);
    }
     .container a {
        width: calc(45vw - var(--width_nav_left) - var(--width_box_aside));
        height: 17rem;
    }
     /*  ket thuc code css cho phan noi dung gom article_post & container min-width: 1200px */
}