* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --grey_background: rgba(217, 208, 203, 0.92);
    --orange-primary : rgba(236, 201, 162, 0.4) ;
    --color-page: rgba(236, 201, 162, 0.4) ;
    --orange_icon : #cf6d17;
}
html {
    -webkit-text-size-adjust: 100%;
    font-size: 70%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.webapp {
    background-color:var(--color-page);
    margin: 0;
}

body {

    display: block;
    min-height: 100vh;
    background: #e7e2de;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
}


.navbar_Wrapper_fulltab {
    width: 100%;
    padding: 0px 30px;
    position: fixed;
    z-index: 1;
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    border-bottom: 2px solid #f0852d;
    background-color: #fff;
    --height: 80px;
    height: var(--height);
}

.navbar_logo_web {
    height: var(--height);
    width: var(--height);
    display: flex;
    align-items: center;


}

.navbar_logo_web a {
    margin-left: 5px;
    display: block;
    position: relative;
}
.navbar_logo_web img {
    position: absolute;
    top: -32px;
    left: 13px;
    height: 70px;
    width: auto;
    /* border: 3px solid rgb(247, 195, 122); */
    border-radius: 16px;
}

.navbar_logo_Heading {
    color: #000;
    margin: 10px;
    font-weight: 700;
    margin-left: 16px;
    font-size: 2rem;
    display: flex;

}

@media (max-width:1210px) {
    .navbar_logo_Heading {
        display: none;
    }
}

@media (max-width:700px) {
    .container {
        display: none;
    }

}

@media (max-width:510px) {
    .sidebar_vert {
        width: 100%;
    }

}

@media (max-width:800px) {

    .navbar_logo_web img {
        display: none;
    }
}

.navbar_body {
    flex: 1 1;
}

.flex_Search_center {
    align-items: center;
    display: flex;
    justify-content: center;
}


.Search_Wrapper {
    border: 2px solid #f7c37a;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;
}

.flex_Search_center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Search_SearchIcon {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    height: 32px;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
    width: 30px;
}

.Search_SearchIcon svg {
    background-size: contain;
    background-position: center;
    background-color: transparent;
    margin-top: 6px;
    width: 20px;
    height: 20px;
}
.Search_SearchIcon svg:hover {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px;
    /*  thu cai kinh lup lai nho 1 siu 1px */

}

.Search_input {
    flex: 1 1;
    border: none;
    /* de mat cai khung  */
    caret-color: #444;
    height: 100%;
    outline: none;
    /*  bo cai khung den khi nhap vao gõ */
    padding: 0 4px;
}

.navbar_action {
    flex: 1 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;
    box-shadow: none;
    color: inherit;
    display: block;
    outline: none;
    padding: 0;

}


.btn_avatar {

    display: block;
    cursor: pointer;
    position: sticky;
    border-radius: 50%;
    margin: 0 60px 0px 25px;
    font-size: 2.2rem;
    padding: 14px 14px;
    border: 3px solid #f7c37a;
    background-color: rgba(234, 223, 223, 0.9);
}

.btn_notification {
    background-color: rgba(234, 223, 223, 0.9);
    display: block;
    cursor: pointer;
    position: sticky;
    border-radius: 5px;
    margin: 0;
    font-size: 1.5rem;
    padding: 8px 8px;
    border: 2px solid #f7c37a;
}

/* ======bat dau  ==phan aside===== */
.box_aside {
    display: flex;
    justify-content: flex-end;

}

.btn_upfile {
    display: block;
    font-weight: 600;
    cursor: pointer;
    position: sticky;
    background: linear-gradient(to right bottom, #c4520a, #da9a72);
    border-radius: 14px;
    color: #fff;
    margin: 0 50px 0px 50px;
    font-size: 1.4rem;
    padding: 18px 14px;
    border: 2px solid #eba43f;
}

.Click_ontop {
    display: block;
    position: fixed;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 30px;
    border: 3px solid #f0852d;
    font-size: 2.0rem;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    background-size: cover;
    background-color: var(--orange-primary);

}

/*== left menu ==== */

/*  gom co luoon btn 3 gach ngang tren header code o phan nay  */

.tab_opt {
    position: relative;
    width: 21px;
    height: 21px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    background-size: 11px;
    display: block;
    padding: 20px;

}

.tab_opt svg {
    position: absolute;
    bottom: 7px;
    background-color: transparent;
    background-size: auto;
    width: 30px;
    height: 25px;
    margin-left: -15px;

}

.tab_opt:hover {
    background-clip: padding-box;
    background-color: #e8decdf0;
    border-radius: 5px;
}

/* ====== nav left vert      =================== */
.nav_left_vert {
    background-color: #ac8a26;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 5;
    margin: 0;
}

.nav_left_vert ul {

    list-style: none;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}

.nav_left_vert li {

    height: 50px;
    width: 100%;
}

.nav_left_vert a {

    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: transform 0.1s ease;
}

.nav_left_vert a.active {
    background-color: #e6a571;
    color: white;
    border-radius: 2px;

}




.nav_left_vert a:hover:not(.active) {
    border-radius: 15px;
    background-color: #f0f0f0;
}

.nav_left_vert a:hover {
    transform: scale(1.04);

}
/* =      ------------------------======    ---------------------- css sub nav  */
.type_meal {
    position: relative;
}

.type_meal .sub_nav {
    position: absolute;
    width: 200px;
    top: 0px;
    height: auto;
    background-color: rgba(227, 168, 105, 0.8);
    right: -201px;
    border-radius: 10px;

}


.sub_nav {
    display: none; 
}

.type_meal:hover .sub_nav,
.sub_nav:hover {
    display: block; /* Hiển thị khi hover vào .type_meal hoặc .sub_nav */
    color :white;
}





/*  ket thuc phan sub nav  */

.sidebar_vert {
    position: sticky;
    top: 81.6px;

    border-radius: 5px;
    border: 2px solid rgba(212, 108, 22, 0.5);
    display: flex;
    height: 180vh;
    width: 250px;
    z-index: 68;
    background-color: var(--orange-primary);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    font-weight: 600;
    font-size: 1.4rem;



}

.sidebar_vert li:hover {
    font-size: 1.7rem;
}


@media (max-width : 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media (max-width : 700px) {
    .sidebar_vert {
        width: 100%;
    }
}

/* Bắt đầu nội dung*/
.container{
    position: relative;
    display: table;
    height: 100rem;
    width: 100rem;
    margin-left: 30rem;
    margin-top: 8rem;
    border-radius: 8px;
}
.container-left{
    position: relative;
    display: table-cell;
    z-index: 0;
    margin-top: -6rem;
    box-sizing: border-box;
    width: 60rem;
    height: 100rem;
    color: #24262b;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgba(154, 148, 148, 0.75);
}
.post-item{
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    width: 60rem;
    height: 98rem;
    top:-8rem;
}
.author{
    position: relative;
    margin-left:3rem;
    display: flex !important;
    align-items: center !important;
    max-width: 100%;
}
.author .avatar-img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.author img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.author .summary-post {
    display: flex;
    margin-left: 1rem;
    flex-direction: column; /* Hiển thị các phần tử con theo chiều dọc */
}
.author .author-name {
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    align-items: center; /* Căn chỉnh nội dung theo chiều dọc */
}

.author .time-post {
    margin-left: auto; /* Đẩy .time-post sang phải cùng mức với nội dung bên phải */
    white-space: nowrap;
    padding-top: 0.5rem;
}
.author div a{
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    float: left;
    font-size: 2rem;
}
.img-dishes{
    width: 100%;
    height: 49%;
    position: relative;
    align-items:center;
    box-sizing: inherit;
    justify-content: center;
    display:flex;
}
.img-dishes img{
    position: absolute;
    border-style: none;
    top: 1rem;
    left: 0rem;
    display: block;
    width: 100%;
    height: auto;
}
.rating-content{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin-left:3rem;
    font-weight: 400;
    line-height: 1.5;
}
.rating-content .icon-star{
    background-image: url("icon-list.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    background-size: 1171px;
    background-position: -893px -185px;
    width: 2rem;
    height: 2rem;
}
.post-content{
    display: block;
    margin: auto;
    box-sizing: border-box;
    margin-left: 3rem;
    margin-right: 3rem;
}
.post-content .title-content{
    font-size: 1.7rem;
    font-weight: 500;
    height: auto;
}
.post-content .content{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.post-content .comment{
    display: block;
    margin-top: 1rem;
    box-sizing: border-box;
}
.likeandcomment .like{
    font-size: 1.5rem;
}
.likeandcomment .like:hover{
    cursor: pointer;
    .icon-like{
        background-image: url("icon-list.png");
        background-repeat: no-repeat;
        vertical-align: middle;
        display: inline-block;
        background-size: 1171px;
        background-position: -414px -184px;
        width: 2rem;
        height: 2rem;
    }
}
.like .icon-like{
    background-image: url("icon-list.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    background-size: 1171px;
    background-position: -382px -184px;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
}
.likeandcomment .slcomment{
    float:right;
    font-size: 1.5rem;
}
.user-comment{
    position:relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-top: 1rem;
}
.user-comment .avatar-user{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.user-comment img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.user-comment .write-comment{
    width: 100%;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-left: 1rem;
}
.write-comment .write{
    resize: none;
    background-color: #f4f5f8;
    height: 4rem;
    min-height: 4rem;
    width: 100%;
    line-height: 2rem;
    border:unset;
    font-size: 1.5rem;
    box-shadow: unset;
    box-sizing: border-box;
    padding-left: 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.list-comment{
    margin-top: 2rem;
}
.comment-1{
    position: relative;
    margin-left:3rem;
    display: flex !important;
    align-items: center !important;
    max-width: 100%;
}
.comment-1 div a{
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    float: left;
    font-size: 1.5rem;
}
.comment-1 .avatar-comment{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.comment-1 img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.comment-1 .summary-comment {
    display: flex;
    margin-left: 1rem;
    flex-direction: column; /* Hiển thị các phần tử con theo chiều dọc */
}
.comment-1 .comment-name {
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    align-items: center; /* Căn chỉnh nội dung theo chiều dọc */
}
.comment-1 .comment-name p{
    color: gray;
    margin-left: 1rem;
}
.comment-1 .content-comment{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.comment-1 .reply-comment{
    color: gray;
    font-size: 1.5rem;
    font-weight: 600;
}
.reply-comment:hover{
    cursor: pointer;
    color: #000;
}
.container-right{
    margin-left: 3rem;
    width: 40;
    height: 100;
    margin-top: 8rem;
}
.container-right .author-info{
    position: relative;
    margin-left:3rem;
    display: flex !important;
    align-items: center !important;
    max-width: 100%;
    display: table-cell;
}
.author-box{
    background-color: #ffffff;
    position: relative;
    top: -8rem;
    border-radius: 8px;
    height: 18rem;
    align-items: center;
}
.author-info{
    margin-top: 2rem;
    align-items: center;
}
.author-info .avatar-img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.author-info img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.author-info div a{
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    float: left;
    font-size: 2rem;
}
.author-info .author-name{
    margin-top: 3rem;
}
.author-box .line{
    border-top: 1px solid #a5a7a8;
    margin:10px 15px;
    width: calc(100%-30px);
}
.activity {
    display: flex;
    justify-content: space-around; 
}
.sl-baiviet .sl, .sl-nguoitheodoi .sl, .sl-dangtheodoi .sl {
    flex: 1;
    padding: 1rem; 
    text-align: center; 
    font-size: 1.4rem;
    font-weight: 600;
}
.sl-baiviet .label, .sl-nguoitheodoi .label, .sl-dangtheodoi .label {
    flex: 1;
    padding: 1rem; 
    text-align: center; 
    font-size: 1.4rem;
    font-weight: 500;
    color:gray;
}

/* Kết thúc nội dung*/
/* bat dau code cho modal Post */
.modal_Post {

    position: fixed;
    inset: 0;
    display: none;
    /* display: none; */
    background: rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.modal_Post .body_modal_Post {
    font-family: inherit;
    font-weight: 500;
    font-size: 2rem;
    position: relative;
    margin: auto;
    width: 600px;
    height: 500px;
    background-color: var(--grey_background);
    border-radius: 15px;
}

.modal_Post .body_modal_Post  p {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
  
}
.modal_Post .body_modal_Post >p{
    padding: 20px;
    margin-top: 25px 0;
    border-bottom: 2px solid black   ;
}


/* ten va avatar cua khangdeptry */
.Box_Contain_Avatar_And_Name{
    position: relative;
    height : 70px; 
    width : auto ;
    border-bottom: 4px ;
    
}
.Box_Contain_Avatar_And_Name img{
    display: block;
    padding : 10px ;
    width: 50px ;
    height: 50px;
    border-radius: 50%;
    
}
.Box_Contain_Avatar_And_Name p {
    position: absolute;
    top: 20px;
    left: 71px;
}
.box_input_content{
    
    font-size: 22px;
    width: 100%;
    padding-bottom : 30%;
    height: 10%;
    
}
.Add_To_Content > p{
    padding: 10px;
}
.fa-solid {
    font-size: 30px ;
}
.Add_To_Content{
    text-align: center;
    
}
.Add_To_Content a {
    padding : 2px 10px;
}
.rel_btn_post{
    position: relative;
}
.btn_post_content {
    position: absolute;
    top: 7px;
    left: 35%;
    align-content: center;
    margin: auto auto 25px;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    /* height: 20px; */
    background-color: rgb(18, 110, 176);
    font-weight: 500;
    color: rgb(236, 247, 255);
    cursor: pointer;
    transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}




/*phan cua modal btn close  */

.modal_Post .close_btn_Post {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #dbdad3;
    cursor: pointer;
}

.modal_Post .close_btn_Post:hover {
    background: #a4a39e;
}

.modal_Post .close_btn_Post i {
    font-size: 20px;
    color: #000;

}

/*  code cho start opt */
.start_opt_Post {

    font-size: inherit;
    position: relative;
    text-align: center;
}


.solid_mid_Post {
    position: absolute;
    right: 12.4rem;
    margin-top: 8px;
    padding: 4px;
    border-bottom: 2px solid black;
    width: 50%;
    height: 2px;
}

.start_create_new_account_Post {
    position: absolute;
    top: 57px;
    left: 26%;
    align-content: center;
    margin: auto auto 25px;
    padding: 5px;
    font-size: 26px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    height: 70px;
    background-color: rgba(18, 110, 176, 0.88);
    font-weight: 600;
    color: rgb(236, 247, 255);
    cursor: pointer;
    transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

.start_create_new_account_Post:hover {
    background-color: #1b63bb;
}
/*  ket thuc code cho modal Post */

/* bat dau code cho footer  */
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    position: relative;
    margin-top: 10rem;
    left: 0;
    width: 100%;
    background-color: #011548;
    padding: 70px 0px;
    z-index: 10;
    font-size: 4rem;
    font-weight: 500;
}



.collum_foot {
    width: 25%;
    padding: 0 15px;
}

.collum_foot h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.collum_foot h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e6a571;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.collum_foot ul li:not(:last-child) {
    margin-bottom: 10px;
}

.collum_foot ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.collum_foot ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.collum_foot .Online a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.collum_foot .Online a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .collum_foot {
        width: 50%;
        margin-bottom: 30px;
    }
}



@media(max-width: 574px) {
    .footer {
        display: none;
    }
}