<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ĐỒ ĂN LÀNG ĐẠI HỌC</title>
    <link rel="stylesheet" href="/static/styles_search.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="webapp">
        <header>
            <div></div>
            <div class="navbar_Wrapper_fulltab">
                <button onclick="toggleSidebar()" class="tab_opt">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </button>

                <div class="navbar_logo_web">
                    <a href="#">
                        <img src="/static/Image_web_offical/LOGO_OFFICIAL.jpg" alt="logoweb" />
                    </a>
                </div>

                <h3 class="navbar_logo_Heading">
                    Ăn sập làng<br />
                    Đại học
                </h3>
                <div class="navbar_body flex_Search_center">
                    <div>
                        <form class="Search_Wrapper flex_Search_center" role="search" method=POST action = "{% url 'search' %}">
                            {% csrf_token %}
                            <button class="Search_SearchIcon" style="display: block" type="submit">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20"
                                        height="20">
                                        <path fill="#da9a72"
                                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                                    </svg>
                                </a>
                            </button>

                            <input class="Search_input" spellcheck="false" type="search"
                                placeholder="Tìm kiếm địa điểm món ăn bạn yêu thích" value="" name="searched" />
                        </form>
                    </div>
                </div>

                <div class="navbar_action">
                    <div id="navbar_action_portal"></div>
                    <div class="UpFile">
                        <button onclick="Open_Post()" class="btn_upfile" style="display: flex">
                            POST
                        </button>
                    </div>
                    <button onclick="Open_login()" class="login_btn">
                        Đăng nhập
                    </button>
                    <button onclick="Open_Reg()" class="register_btn">
                        Đăng ký
                    </button>
                </div>
            </div>
        </header>
        <!-- xong phan header -->
        <!-- Modal đăng nhập  -->

        <div class="modal" style="display: none">
            <div class="body_modal">
                <p>Đăng nhập vào Làng</p>
                <form class="input_text_login" method="POST">
                    {% csrf_token %}
                    <input type="text" name="input-login-account" class="box_input_text_account" placeholder="Email address or phone number" />
                    <input type="password" name="input-login-password" class="box_input_text_password" placeholder="Password" />
                    <div class="forgot_password">
                        <a href="#">Forgotten Password</a>
                    </div>
                    <div class="start_opt">
                        <a href="#"><img src="/static/Image_web_offical/fb_icon_login.png" alt="iconFB" /></a>
                        <a href="#"><img src="/static/Image_web_offical/icon_google.jpg" alt="iconGG" /></a>
                        <button type="submit" class="start_login" name="button-login">Login</button>
                        <div class="solid_mid"></div>
                        <button onclick="handleButtonClick()" class="start_create_new_account">
                            Create New Account
                        </button>
                    </div>
                </form>
                <button onclick="CLose_login()" class="close_btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <!--  ket thúc phan modal đăng nhập  -->

        <!-- Modal đăng ký -->
        <div class="modal_Reg">
            <div class="body_modal_Reg">
                <p>Đăng Ký vào Làng</p>
                <form class="input_text_Reg" method="POST">
                    {% csrf_token %}
                    <input type="text" name="input-reg-account" class="box_input_text_account_Reg" placeholder="Email address or phone number" />
                    <input type="password" name="input-reg-password" class="box_input_text_password_Reg" placeholder="Please Input Password" />
                    <input type="password" name="input-reg-repassword" class="box_input_text_password_Reg" placeholder="Please Input Password Again" />

                    <div class="start_opt_Reg">
                        <div class="solid_mid_Reg"></div>
                        <button type="submit" class="start_create_new_account_Reg" name="button-reg">Resgister</button>
                    </div>
                </form>
                <button onclick="CLose_Reg()" class="close_btn_Reg">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <!--  ket thúc phan modal đăng ký -->
   
        <aside>
            <div class="box_aside">
                <a href="#">

                    <button class="Click_ontop">
                        <i class="fa-sharp fa-solid fa-arrow-up" style="color: #cf7207;"></i>
                    </button>
                </a>
            </div>
        </aside>
        <!--  xong phan ben phai -->

        <!-- ===========vertical tab left ==================== -->
        <div class="nav_left_vert">
            <ul class="sidebar_vert">
                <li><a class="active" href="#">Trang chủ</a></li>
                <li class="type_meal">
                    <a href="#" class="sub_type_meal">Thể loại món</a>
                    <ul class="sub_nav">
                        <li><a href="#"> Đồ chay</a></li>
                        <li><a href="#"> Ăn chính </a></li>
                        <li><a href="#"> Ăn vặt </a></li>
                        <li><a href="#"> Đồ uống </a></li>
                    </ul>
                </li>
                <li><a href="../UI_Web_Page_Offical/Nav_left/News/News.html">Tin nổi bật</a></li>
                <li><a href="#">Bài viết trong ngày</a></li>
                <li><a href="#">Địa điểm hot </a></li>
                <li><a href="#">Top xếp hạng</a></li>
            </ul>

            <script>
                let sidebarVisible = false;

                function toggleSidebar() {
                    const sidebar = document.querySelector(".sidebar_vert");
                    sidebarVisible = !sidebarVisible; // Đảo ngược giá trị của biến trạng thái

                    if (sidebarVisible) {
                        sidebar.style.display = "flex"; // Hiển thị sidebar nếu đang ẩn
                    } else {
                        sidebar.style.display = "none"; // Ẩn sidebar nếu đang hiển thị
                    }
                }
                function CLose_login() {
                    const sidebar = document.querySelector(".modal");
                    sidebar.style.display = "none";
                }
                function CLose_Reg() {
                    const sidebar = document.querySelector(".modal_Reg");
                    sidebar.style.display = "none";
                }
                function Open_login() {
                    const sidebar = document.querySelector(".modal");
                    sidebar.style.display = "flex";
                }
                function Open_Reg() {
                    const sidebar = document.querySelector(".modal_Reg");
                    sidebar.style.display = "flex";
                }
                function handleButtonClick() {
                    Open_Reg();
                    CLose_login();
                }
                function Open_Post() {
                    const sidebar = document.querySelector(".modal_Post");
                    sidebar.style.display = "flex";
                }
                function CLose_Post() {
                    const sidebar = document.querySelector(".modal_Post");
                    sidebar.style.display = "none";
                }
            </script>
        </div>
        <!-- xong phan vertical tab left  -->
    
        <div class="result_text"> Result search for {{searched}} </div>
    <div class="container">
        <div class="listNewFood">
            {% for product in keys %}
            <div class="newestfood1">
                <img class="thumbnail" src="{{ product.image.url }}" alt="{{product.title}}">
                <a href="#">{{product.title}}</a>
                <p>{{product.address}}</p>
                <div class="dongcuoi">
                    <div class="star-rating">
                        <i class="fa-solid fa-star" style="color: #FFD43B;"> {{product.star}} / 5.0 </i>
                    </div>
                    <div class="time-ago">
                        <u>{{ product.date|timesince }} ago</u>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        
        <!--Xong phần nội dung-->

        <!-- bat dau phan footer wrapper -->
        <footer class="footer">
            <div class="ct_foot">
                <div class="row">
                    <div class="collum_foot">
                        <h4>Trang Chủ</h4>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                    <div class="collum_foot">
                        <h4>Trợ Giúp</h4>
                        <ul>
                            <li><a href="#">Hỏi đáp</a></li>
                            <li><a href="#">Hướng dẫn</a></li>
                        </ul>
                    </div>
                    <div class="collum_foot">
                        <h4>Liên hệ</h4>
                        <div class="Online">
                            <a href="https://www.facebook.com/Ng.Khang3012/"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>