* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 70%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.webapp {
    margin: 0;
}

body {

    display: block;
    min-height: 100vh;
    background: #e7e2de;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
}


.navbar_Wrapper_fulltab {
    width: 100%;
    padding: 0px 30px;
    position: fixed;
    z-index: 1;
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    border-bottom: 2px solid #f0852d;
    background-color: #ffff;
    --height: 80px;
    height: var(--height);
}

.navbar_logo_web {
    height: var(--height);
    width: var(--height);
    display: flex;
    align-items: center;


}

.navbar_logo_web a {
    display: flex;
}

.navbar_logo_web img {

    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
    border: 2px solid #f7c37a;
    border-radius: 10px;
}

.navbar_logo_Heading {
    color: #000;
    margin: 10px;
    font-weight: 700;
    margin-left: 16px;
    font-size: 2rem;
    display: flex;

}

@media (max-width:1210px) {
    .navbar_logo_Heading {
        display: none;
    }
}

@media (max-width:700px) {
    .container {
        display: none;
    }

}

@media (max-width:510px) {
    .sidebar_vert {
        width: 100%;
    }

}

@media (max-width:800px) {

    .navbar_logo_web img {
        display: none;
    }
}

.navbar_body {
    flex: 1 1;
}

.flex_Search_center {
    align-items: center;
    display: flex;
    justify-content: center;
}


.Search_Wrapper {
    border: 2px solid #f7c37a;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;
}

.flex_Search_center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Search_SearchIcon {
    background-image: url('/static/User_Picture/search-icon.webp');
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    height: 32px;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
    width: 30px;
}

.Search_input {
    flex: 1 1;
    border: none;
    /* de mat cai khung  */
    caret-color: #444;
    height: 100%;
    outline: none;
    /*  bo cai khung den khi nhap vao gõ */
    padding: 0 4px;
}

.navbar_action {
    flex: 1 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;
    box-shadow: none;
    color: inherit;
    display: block;
    outline: none;
    padding: 0;

}


.btn_avatar {

    display: block;
    cursor: pointer;
    position: sticky;
    border-radius: 50%;
    margin: 0 60px 0px 25px;
    font-size: 2.2rem;
    padding: 14px 14px;
    border: 3px solid #f7c37a;
    background-color: #f2efea;
}

.btn_notification {
    background-color: #f2efea;
    display: block;
    cursor: pointer;
    position: sticky;
    border-radius: 5px;
    margin: 0;
    font-size: 1.5rem;
    padding: 8px 8px;
    border: 2px solid #f7c37a;
}

/* ======bat dau  ==phan aside===== */
.box_aside {
    display: flex;
    justify-content: flex-end;

}

.btn_upfile {
    display: block;
    font-weight: 600;
    cursor: pointer;
    position: sticky;
    background: linear-gradient(to right bottom, #c4520a, #da9a72);
    border-radius: 14px;
    color: #fff;
    margin: 0 50px 0px 50px;
    font-size: 1.4rem;
    padding: 18px 14px;
    border: 2px solid #eba43f;
}

.Click_ontop {
    display: block;
    position: fixed;
    /* dat vi tri co dinh lun */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 30px;
    border: 3px solid #f0852d;
    font-size: 2.0rem;

    bottom: 20px;
    /* Đặt vị trí ở phía dưới cùng */
    right: 20px;
    /* Đặt vị trí ở phía bên phải */
    z-index: 9999;
    /* Đảm bảo nút hiển thị trên các phần tử khác */
    background-size: cover;

}

/*== left menu ==== */

/*  gom co luoon btn 3 gach ngang tren header code o phan nay  */

.tab_opt {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/DqJ1dbPhKLh.png?_nc_eui2=AeFq__h7ywuhBQvbEh538aIgQaQrY5cykQ5BpCtjlzKRDgz358kIQ3IGNCbuhzxVcSL8Z8n_rBBSzIKiylUHrOLB");
    background-position: 6px -453px;
    background-color: #fff;
    background-repeat: no-repeat;
    width: 47px;
    height: 29px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    background-size: 47px;
    border-color: transparent;
    display: block;
    padding: 20px;

}

.tab_opt svg {
    width: 100%;
    height: 100%;
}

.tab_opt:hover {
    background-clip: padding-box;
    background-color: #cccc;
}

/* ====== nav left vert      =================== */
.nav_left_vert {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 5;
    margin: 0;
}

.nav_left_vert ul {

    list-style: none;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}

.nav_left_vert li {
    height: 50px;
    width: 100%;
}

.nav_left_vert a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.nav_left_vert a.active {
    background-color:#e6a571 ;
    color: white;
}

.nav_left_vert a:hover:not(.active) {
    background-color: #f0f0f0;
}


.sidebar_vert {
    position: sticky;
    top: 81.6px;
    /* Dính phần sidebar lên trên cùng của viewport */
    border-radius: 5px;
    border: 2px solid rgb(240, 133, 45, 0.5);
    display: none;
    height: 180vh;
    width: 250px;
    z-index: 68;
    background-color: #fff;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);

    /*  tui se dung js phan flex nay */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    font-weight: 600;
    font-size: 1.4rem;

}

@media (max-width : 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media (max-width : 700px) {
    .sidebar_vert {
        width: 100%;
    }
}

/* nội dung dòng 1*/
.container {
    max-width: 1170px;
    margin: auto;
}

.container .row1 {
    margin-top: 10rem;
    margin-left: 10rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: auto auto;
}

.hot_contain,
.hot_contain1 {
    position: relative;
    z-index: 0;
}

.hot_contain img {
    
    border-radius: 2rem;
    height: 35rem;
    width: 65rem;
    
}

.hot_contain1 img {
    border-radius: 2rem;
    width: 35rem;
    height: 35rem;
}

.hot_contain .text_overlay {
    position: absolute;
    font-size: 3rem;
    color: white;
    width: 70%;
    text-decoration: none;
    bottom: 2rem;
    left: 3rem;
    white-space: nowrap;
    /* Đảm bảo chữ không xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá phần tử */
    text-overflow: ellipsis;
    /* Thêm dấu "..." vào cuối */
}

.hot_contain1 .text_overlay {
    position: absolute;
    font-size: 3rem;
    width: 70%;
    color: white;
    text-decoration: none;
    bottom: 2rem;
    left: 3rem;
    white-space: nowrap;
    /* Đảm bảo chữ không xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá phần tử */
    text-overflow: ellipsis;
    /* Thêm dấu "..." vào cuối */
}

/* kết thúc nội dung dòng 1*/
/* bắt đầu nội dung các dòng khác*/
.container .other_contain {
    margin-top: 3rem;
    margin-left: 10rem;
    width: 100%;
    height: 150%;
    gap: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.other_contain div {
    background-color: white;
    width: 23rem;
    height: 28rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #dea77a;
}

.other_contain img {
    width: 23rem;
    height: 20rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.other_contain a {
    display: block;
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    /* Đảm bảo chữ không xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá phần tử */
    text-overflow: ellipsis;
    /* Thêm dấu "..." vào cuối */
}

.other_contain p {
    font-size: 1.3rem;
    color: grey;
    margin-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* kết thúc nội dung các dòng khác*/
/* bat dau code cho footer  */
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    position: relative;
    margin-top: 10rem;
    left: 0;
    width: 100%;
    background-color: #011548;
    padding: 70px 0px;
    z-index: 10;
    font-size: 4rem;
    font-weight: 500;
}



.collum_foot {
    width: 25%;
    padding: 0 15px;
}

.collum_foot h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.collum_foot h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e6a571;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.collum_foot ul li:not(:last-child) {
    margin-bottom: 10px;
}

.collum_foot ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.collum_foot ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.collum_foot .Online a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.collum_foot .Online a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .collum_foot {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .collum_foot {
        width: 100%;
    }
}