<footer class="footer">
    <div class="ct_foot">
        <div class="row">
            <div class="collum_foot">
                <h4>Trang Chủ</h4>
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="collum_foot">
                <h4>Trợ Giúp</h4>
                <ul>
                    <li><a href="#">Hỏi đáp</a></li>
                    <li><a href="#">Hướng dẫn</a></li>
                </ul>
            </div>
            <div class="collum_foot">
                <h4>Liên hệ</h4>
                <div class="Online">
                    <a href="https://www.facebook.com/Ng.Khang3012/"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>