{% extends 'base.html' %}
{% block  CSS %}
    <link rel="stylesheet" href="/static/forgetpassword_styles.css"/>
{% endblock %}

{% block header %}
    {% include 'header_empty.html' %}
{% endblock %}
<!-- Bắt đầu phần forgetpass -->
{% block content %}
    <div class="forget_pass">
        <form class="Form-Email" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" name="sendmail" class="sendmail-btn"> Gửi Mail
        </form>
    </div>
{% endblock %}
<!--ket thuc phan forgetpass-->
                