{% extends "base.html" %}

{% block CSS %}
<link rel="stylesheet" href="/static/styles_post.css">
{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        {% include 'header_login.html' %}
    {% else %}
        {% include 'header_index.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<!-- Bat dau phan noi dung-->
<div class="container">
    <div class="container-left">
        <div class="post-item">
            <div class="author">
                <div class="avatar-img"><a href="#"><img src="{{ userinfo.avatar.url }}" alt="Avatar"></a></div>
                <div class="summary-post">
                    <div class="author-name"><a href="#"><p>{{ userinfo.firstname }} {{ userinfo.lastname }}</p></a></div>
                    <div class="time-post"> {{ post.date }}</div>
                </div>
            </div>
            <div class="img-dishes">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            <div class="rating-content">
                <i class="icon-star"></i>
                <span><b>{{ post.star }}</b></span>
                <span><b>/5.0</b></span>
            </div>
            <div class="post-content">
                <div class="title-content">
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="content">
                    {{ post.content }}
                </div>            
                <div class="comment">
                    <div class="likeandcomment">
                        <span class="like">
                            <i class="icon-like"></i>
                            15 người yêu thích - Đang làm
                        </span>
                        <b class="slcomment">1 Bình luận - Đang làm</b>
                    </div>
                    <div class="user-comment">
                        <div class="avatar-user"><a href="#"><img src="avatar_test.jpg" alt="Avatar"></a></div>
                        <div class="write-comment">
                            <textarea class="write" placeholder="Viết bình luận" oninput="autoGrow(this)"></textarea>
                            <script>
                                function autoGrow(element) {
                                element.style.height = "5px";
                                element.style.height = (element.scrollHeight)+"px";
                                }
                            </script>
                        </div>
                    </div>
                    <div class="list-comment">
                        <div class="comment-1">
                            <div class="avatar-comment"><a href="#"><img src="avatar_test.jpg" alt="Avatar"></a></div>
                            <div class="summary-comment">
                                <div class="comment-name">
                                    <a href="#">Nguyễn B</a>
                                    <p>12:35 ngày 30/3/2022</p>
                                </div>
                                <div class="content-comment">Quá tuyệt vời</div>
                                <div class="reply-comment">Trả lời</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-right">
        <div class="author-box">
            <div class="author-info">
                <div class="avatar-img"><a href="#"><img src="avatar_test.jpg" alt="Avatar"></a></div>
                <div class="author-name"><a href="#"><p>Nguyễn A</p></a></div>
            </div>
            <div class="line"></div>
            <div class="activity">
                <div class="sl-baiviet">
                    <div class="sl">14</div>
                    <div class="label">Bài viết</div>
                </div>
                <div class="sl-nguoitheodoi">
                    <div class="sl">4</div>
                    <div class="label">Người theo dõi</div>
                </div>
                <div class="sl-dangtheodoi">
                    <div class="sl">0</div>
                    <div class="label">Đang theo dõi</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Xong phan noi dung-->
{% endblock %}