{% extends 'base.html' %}
{% block  CSS %}
    <link rel="stylesheet" href="/static/password_reset_complete_styles.css"/>
{% endblock %}
<!-- Bắt đầu phần forgetpass -->
{% block header %}
    {% include 'header_empty.html' %}
{% endblock %}
{% block content %}
    <div class="pass_re_done">
        <h1>Password reset complete</h1>
        <p>Please enter this link to login your account: <a href="http://127.0.0.1:8000">127.0.0.1:8000</a>.</p>
    </div>
{% endblock %}
<!--ket thuc phan forgetpass-->
        