<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset</h2>
    <p>You're receiving this email because you requested a password reset for your user account at <a href="http://127.0.0.1:8000"> 127.0.0.1:8000</a></p>
    <p>Please click the following link to reset your password: <a href="{{ protocol }}://{{ domain }}{% url 'passwordresetconfirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If you didn't request a password reset, you can safely ignore this email.</p>
    <p>Thank you!</p>
</body>
</html>