{% extends "base.html" %}

{% block CSS %}
<link rel="stylesheet" href="/static/styles_index.css">
{% endblock %}

{% block header %}
   {% include 'header_index.html' %}
{% endblock %}

{% block content %}
<!--  bat dau code cho phan noi dung  -->
<div class="article_post">
    {% for post in top_posts %}
    <a href="{% url 'post' post_id=post.id %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <h3>{{ post.title }}</h3>
    </a>
    {% endfor %}
</div>
<!-- Các trường dữ liệu khác của bài đăng -->
<section class="container">
    {% for post in other_posts %}
    <a href="{% url 'post' post_id=post.id %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <h3>{{ post.title }}</h3>
        <p>{{ post.address }}</p>
    </a>

    {% endfor %}
</section>
{% endblock %}
